*.o
**/.DS_Store
.DS_Store
.vscode
.env
build*
certs*
tmp*
certs*
UseSecurityFeatures.md
managed_components*
main/certs/certificate.pem.crt
main/certs/private.pem.key
main/certs/public.pem.key
esp_secure_cert_data/*